NodeRed.json
[
  {
    "id": "tab1",
    "type": "tab",
    "label": "Plant Watering System"
  },
  {
    "id": "mqtt_in_moisture",
    "type": "mqtt in",
    "z": "tab1",
    "name": "Moisture",
    "topic": "plant/moisture",
    "broker": "mqtt_broker",
    "x": 120,
    "y": 80,
    "wires": [["gauge_moisture"]]
  },
  {
    "id": "gauge_moisture",
    "type": "ui_gauge",
    "z": "tab1",
    "name": "Soil Moisture",
    "group": "ui_group",
    "order": 1,
    "width": 6,
    "height": 4,
    "gtype": "gage",
    "title": "Moisture",
    "label": "value",
    "format": "{{value}}",
    "min": 0,
    "max": 1023,
    "x": 320,
    "y": 80,
    "wires": []
  },
  {
    "id": "mqtt_in_status",
    "type": "mqtt in",
    "z": "tab1",
    "name": "Pump Status",
    "topic": "plant/status",
    "broker": "mqtt_broker",
    "x": 120,
    "y": 140,
    "wires": [["text_status"]]
  },
  {
    "id": "text_status",
    "type": "ui_text",
    "z": "tab1",
    "group": "ui_group",
    "order": 2,
    "width": 6,
    "height": 1,
    "name": "Pump Status",
    "label": "Pump",
    "format": "{{msg.payload}}",
    "x": 320,
    "y": 140,
    "wires": []
  },
  {
    "id": "mqtt_in_mode",
    "type": "mqtt in",
    "z": "tab1",
    "name": "Mode",
    "topic": "plant/mode",
    "broker": "mqtt_broker",
    "x": 120,
    "y": 200,
    "wires": [["text_mode"]]
  },
  {
    "id": "text_mode",
    "type": "ui_text",
    "z": "tab1",
    "group": "ui_group",
    "order": 3,
    "width": 6,
    "height": 1,
    "name": "Mode",
    "label": "Mode",
    "format": "{{msg.payload}}",
    "x": 320,
    "y": 200,
    "wires": []
  },
  {
    "id": "btn_on",
    "type": "ui_button",
    "z": "tab1",
    "name": "Pump ON",
    "group": "ui_group",
    "order": 4,
    "width": 2,
    "height": 1,
    "label": "ON",
    "payload": "ON",
    "topic": "plant/pump",
    "x": 120,
    "y": 280,
    "wires": [["mqtt_out"]]
  },
  {
    "id": "btn_off",
    "type": "ui_button",
    "z": "tab1",
    "name": "Pump OFF",
    "group": "ui_group",
    "order": 5,
    "width": 2,
    "height": 1,
    "label": "OFF",
    "payload": "OFF",
    "topic": "plant/pump",
    "x": 120,
    "y": 320,
    "wires": [["mqtt_out"]]
  },
  {
    "id": "btn_auto",
    "type": "ui_button",
    "z": "tab1",
    "name": "Auto Mode",
    "group": "ui_group",
    "order": 6,
    "width": 2,
    "height": 1,
    "label": "AUTO",
    "payload": "AUTO",
    "topic": "plant/pump",
    "x": 120,
    "y": 360,
    "wires": [["mqtt_out"]]
  },
  {
    "id": "mqtt_out",
    "type": "mqtt out",
    "z": "tab1",
    "name": "Send Command",
    "topic": "",
    "broker": "mqtt_broker",
    "x": 320,
    "y": 320,
    "wires": []
  },
  {
    "id": "mqtt_broker",
    "type": "mqtt-broker",
    "name": "Local Broker",
    "broker": "192.168.1.100",
    "port": "1883"
  },
  {
    "id": "ui_group",
    "type": "ui_group",
    "name": "Plant Control",
    "tab": "ui_tab",
    "order": 1,
    "width": 6
  },
  {
    "id": "ui_tab",
    "type": "ui_tab",
    "name": "Plant System",
    "icon": "dashboard"
  }
]